body {
    background-color: black;
    text-align: center;
}

#stage {
    background-color: black;
    width: 1024px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    border : dotted 2px black;
}